@using BaseLibrary.Entities
@using System.ComponentModel.DataAnnotations


<div class="card border-success">
    <EditForm Model="SanctionType" OnValidSubmit="Save">
        <div class="card-body">
            <div class="form-group">
                <label for="form-label"> Name:</label>
                <InputText @bind-Value="SanctionType.Name" class="form-control" />
                <ValidationMessage For="()=>SanctionType.Name" class="text-danger" />
            </div>
        </div>
        <div class="card-footer text-center">
            <div class="mx-auto">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
            </div>

        </div>

        <DataAnnotationsValidator />
    </EditForm>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    [Parameter] public SanctionType SanctionType { get; set; } = new();
    [Parameter] public EventCallback<SanctionType> HandleSaveOperationEvent { get; set; }


    protected override async void OnInitialized()
    {


        allState.Action += StateHasChanged;
        StateHasChanged();
    }


    async Task Save()
    {
        var returnData = $"{SanctionType.Name}";

        


            await HandleSaveOperationEvent.InvokeAsync(SanctionType);
            await BlazoredModal.CloseAsync(ModalResult.Ok(returnData));

    }



    async Task Cancel() => await BlazoredModal.CancelAsync();


}

