@implements IDisposable



@if (allState.ShowCounty)
{
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="float-start">County</h4>
                        <button class="btn btn-outline-success float-end" @onclick="AddOpenDialog"><i class="bi bi-plus-circle-doted"></i>Add County</button>
                    </div>
                    <div class="card-header" style="max-height:580px; overflow-x:hidden; overflow-y:scroll;">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col"> #</th>
                                        <th scope="col">Id</th>
                                        <th scope="col">Country</th>
                                        <th scope="col">County</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Counties.Count <= 0)
                                    {
                                        <tr>
                                            <td colspan="5"><div class="alert alert-info text-center">No County added yet!</div></td>
                                        </tr>
                                    }
                                    else
                                    {
                                        int count = 1;
                                        foreach (var item in Counties)
                                        {
                                            <tr>
                                                <th>@count</th>
                                                <td>@item.Id</td>
                                                <td>@item.Country!.Name</td>
                                                <td>@item.Name</td>
                                                <td>
                                                    <i class="bi bi-pencil text-info" @onclick="()=>EditClicked(item)"></i>
                                                    <i class="bi bi-trash text-danger" @onclick="()=>DeleteClicked(item)"></i>
                                                </td>
                                            </tr>
                                            count++;
                                        }


                                       
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;
    County County = new();
    CountyDialog? CountyDialog;
    public string Title { get; set; } = "Add";

    public List<Country> Countries { get; set; } = new();
    public List<County> Counties { get; set; } = new();

    
    protected async override void OnInitialized()
    { 
        await GetCounties();
        await GetCountryes();
        allState.Action += StateHasChanged;
    }

    private async Task GetCountryes()
    {
        Countries = await countryService.GetAll(Constants.CountryBaseUrl);
    }
    private async Task GetCounties()
    {
        Counties = await countyService.GetAll(Constants.CountyBaseUrl);
    }

    async Task AddOpenDialog()
    {
        Title = "Add";
        County = new();
        await OpenDialog();
    }

    async Task OpenDialog()
    {

        if (Title == "Update")
        {
            var parameters = new ModalParameters()
        .Add(nameof(CountyDialog.County), County);


            var form = Modal.Show<CountyDialog>($"{Title} County", parameters);
            var result = await form.Result;

            if (result.Confirmed)
            {
                var temp = result.Data.ToString().Split(';');
                var t1 = "";
                var t2 = 0;

                if (temp.Length == 2)
                {
                    County.Name = temp[0];
                    t1 = temp[1];
                    int.TryParse(t1, out t2);
                    if (int.TryParse(t1, out t2))
                    {
                        County.CountryId = t2;


                        await HandleSaveOperationEvent(County);

                    }

                }

            }
        }
        else
        {
            var form = Modal.Show<CountyDialog>($"{Title} County");
            var result = await form.Result;

            if (result.Confirmed)
            {
                var temp = result.Data.ToString().Split(';');
                var t1 = "";
                var t2 = 0;

                if (temp.Length == 2)
                {
                    County.Name = temp[0];
                    t1 = temp[1];
                    int.TryParse(t1, out t2);
                    if (int.TryParse(t1, out t2))
                    {
                        County.CountryId = t2;


                        await HandleSaveOperationEvent(County);

                    }

                }

            }
        }
    }

    private async Task HandleSaveOperationEvent(County county)
    {
        bool successCheck = false;
        if (county.Id > 0)
        {
            var result = await countyService
            .Update(county, Constants.CountyBaseUrl);
            successCheck = await DisplayMassage(result.Flag, result.Massage);

        }
        else
        {
            var response = await countyService
            .Insert(county, Constants.CountyBaseUrl);
            successCheck = await DisplayMassage(response.Flag, response.Massage);

        }
        if (successCheck)
        {
            County = new();
            await GetCounties();
            Title = "Add";
            StateHasChanged();
        }
    }
    private async void EditClicked(County county)
    {
        Title = "Update";
        County = county;
        await GetCounties();
        await OpenDialog();

    }

    private async void DeleteClicked(County county)
    {
        var confirmModal = Modal.Show<ConfirmationDialog>($"Are you sure you wanna delete {county.Name}?");
        var result = await confirmModal.Result;

        if (result.Cancelled) return;

        var response = await countyService.DeleteById(county.Id, Constants.CountyBaseUrl);
        if (await DisplayMassage(response.Flag, response.Massage))
        {
            await GetCounties();
            StateHasChanged();
        }
    }


    private async Task<bool> DisplayMassage(bool flag, string massage)
    {

        if (flag)
        {
            var parameters = new ModalParameters()
        .Add(nameof(DisplayMessage.Message), massage);
            Modal.Show<DisplayMessage>("Succes", parameters);
            return true;
        }
        else
        {
            var parameters = new ModalParameters()
        .Add(nameof(DisplayMessage.Message), massage);
            Modal.Show<DisplayMessage>("Alert", parameters);
            return false;
        }
    }
    public void Dispose()
    {
        allState.Action -= StateHasChanged;
    }
}